#fakeLoader{
  z-index: 1001!important;
}


.title {
  margin-bottom: 25px;
}

.map {
  margin-right: 50px;
}
.starBar {
  margin-right:30px;
}

.allPage{
  display: flex;
  align-content: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  width: 1380px;
}

.inColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}

.inRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inRowOppositeSides {
  display: flex;
  justify-content: space-between;
}

.pinnedRestaurant .inRow{
  position: relative;
  width:500px;
  height:100px;
  border-radius: 2px;
  box-shadow: 1px 4px 8px 0px rgba(0,0,0,0.15);
  border-top: 1px solid #f2f2f2;
  background-color: white;
}

.pinnedRestaurant .inRow:hover{
  background-color: #f2f2f2;
}

.pinnedRestaurant .inColumn{
  position:absolute;
  margin-left:90px;
}

.pinnedRestaurant p{
  margin-bottom: 0;
  margin-right: 4px;
}

.pinnedRestaurant .closeButton{
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  opacity: 0.5;
}

.pinnedRestaurant .closeButton:hover{
  opacity: 0.8;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pinnedList {
  margin-top: 20px;
}

.pin{
  width: 20px;
  visibility: hidden;
}

.pin.pinned{
  visibility: visible;
  transform: rotate(-45deg);
}

.data-table-head{
    cursor: pointer;
}

.table{
    width: auto;
    margin-bottom: 0;
}

.dc-table-row{
  cursor: pointer;
}

.dc-table-row:hover{
  background-color: #f2f2f2;
}

.dc-table-row:hover .pin{
  visibility: visible;
}

#paginate {
    margin-top: 20px;
}

.chart-body {
    transform: translate(52, 10);
}

.y-axis-label .y-label{
   transform: translate(8,90),rotate(-90);
}

.axis .x {
  transform: translate(52,170);
}

.axis .y {
  transform: translate(52,10);
}

.dc-chart .axis text{
  font-family: "Helvetica Neue";
}
