.title {
  margin-bottom: 25px;
}

.map {
  margin-right: 50px;
}
.starBar {
  margin-right:30px;
}

.allPage{
  display: flex;
  align-content: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  width: 1380px;
}

.inColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}

.inRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inRowOppositeSides {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.controlButtons {
  font-size: 14px;
}

.pinnedList {
  margin-top: 20px;
}

.pin{
  visibility: hidden;
}

.pin.pinned{
  visibility: visible;
  transform: rotate(-45deg);
}

.data-table-head{
    cursor: pointer;
}

.table{
    width: auto;
    margin-bottom: 0;
}

.dc-table-row{
  cursor: pointer;
}

.dc-table-row:hover{
  background-color: #e2e2e2;
}

.dc-table-row:hover .pin{
  visibility: visible;
}

.y-axis-label {
   transform: translate(8,90),rotate(-90);
}

.axis .x {
  transform: translate(52,170);
}

.axis .y {
  transform: translate(52,10);
}
